@model ShopM4_Models.ViewModels.QueryViewModel

<form method="post" class="mb-4">

    <input hidden asp-for="QueryHeader.Id" />

    <a asp-action="Index" class="btn btn-success mb-3">Back to queries</a>

    <h2>Information</h2>

    <div class="mb-3">
        <label asp-for="QueryHeader.FullName" class="form-label">Name</label>
        <input asp-for="QueryHeader.FullName" type="text" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="QueryHeader.PhoneNumber" class="form-label">Phone</label>
        <input asp-for="QueryHeader.PhoneNumber" type="text" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="QueryHeader.Email" class="form-label">Email</label>
        <input asp-for="QueryHeader.Email" type="text" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Query Date</label>
        <input value="" type="text" class="form-control" readonly />
    </div>

    <div class="row">
        <div class="col">
            <input type="submit" value="Change" class="btn btn-info w-100" />
        </div>
        <div class="col">
            <input formaction="/Query/Delete" type="submit" value="Delete" class="btn btn-danger w-100" />
        </div>
    </div>

    <br />

    <h2>Details</h2>

    @foreach (var item in Model.QueryDetail)
    {
        <h5>Product Name: @item.Product.Name</h5>
        <p>Price: @item.Product.Price р.</p>
    }

</form>